/*CODE COULEUR*/
.text-blue-0 { color: rgba(  0,121,247,1) }	/* Main Primary color */
.text-blue-1 { color: rgba(135,182,230,1) }
.text-blue-2 { color: rgba(100,176,255,1) }
.text-blue-3 { color: rgba(  0, 68,140,1) }
.text-blue-4 { color: rgba(  0, 35, 72,1) }

.text-green-0 { color: rgba( 39,162, 66,1) }	/* Main Primary color */
.text-green-1 { color: rgba(191,213,196,1) }
.text-green-2 { color: rgba(126,239,151,1) }
.text-green-3 { color: rgba(  0,124, 27,1) }
.text-green-4 { color: rgba(  0, 65, 14,1) }

.text-yellow-0 { color: rgba(247,187,  7,1) }	/* Main Primary color */
.text-yellow-1 { color: rgba(255,246,221,1) }
.text-yellow-2 { color: rgba(255,219,113,1) }
.text-yellow-3 { color: rgba(172,129,  0,1) }
.text-yellow-4 { color: rgba( 84, 63,  0,1) }

.text-red-0 { color: rgba(213, 51, 66,1) }	/* Main Primary color */
.text-red-1 { color: rgba(250,226,229,1) }
.text-red-2 { color: rgba(253,136,147,1) }
.text-red-3 { color: rgba(164,  0, 16,1) }
.text-red-4 { color: rgba( 88,  0,  8,1) }

.bg-blue-0 { background-color: rgba(  0,121,247,1) }	/* Main Primary background-color */
.bg-blue-1 { background-color: rgba(135,182,230,1) }
.bg-blue-2 { background-color: rgba(100,176,255,1) }
.bg-blue-3 { background-color: rgba(  0, 68,140,1) }
.bg-blue-4 { background-color: rgba(  0, 35, 72,1) }

.bg-green-0 { background-color: rgba( 39,162, 66,1) }	/* Main Primary background-color */
.bg-green-1 { background-color: rgba(191,213,196,1) }
.bg-green-2 { background-color: rgba(126,239,151,1) }
.bg-green-3 { background-color: rgba(  0,124, 27,1) }
.bg-green-4 { background-color: rgba(  0, 65, 14,1) }

.bg-yellow-0 { background-color: rgba(247,187,  7,1) }	/* Main Primary background-color */
.bg-yellow-1 { background-color: rgba(255,246,221,1) }
.bg-yellow-2 { background-color: rgba(255,219,113,1) }
.bg-yellow-3 { background-color: rgba(172,129,  0,1) }
.bg-yellow-4 { background-color: rgba( 84, 63,  0,1) }

.bg-red-0 { background-color: rgba(213, 51, 66,1) }	/* Main Primary background-color */
.bg-red-1 { background-color: rgba(250,226,229,1) }
.bg-red-2 { background-color: rgba(253,136,147,1) }
.bg-red-3 { background-color: rgba(164,  0, 16,1) }
.bg-red-4 { background-color: rgba( 88,  0,  8,1) }

/*HAUTEURS*/
.height-10{ height: 10px; }
.height-20{ height: 20px; }
.height-30{ height: 30px; }
.height-40{ height: 40px; }
.height-50{ height: 50px; }
.height-60{ height: 60px; }
.height-70{ height: 70px; }
.height-80{ height: 80px; }
.height-90{ height: 90px; }
.height-100{ height: 100px; }

.b-radius-5{ border-radius: 5px; }
.b-radius-10{ border-radius: 10px; }
.b-radius-15{ border-radius: 15px; }
.b-radius-20{ border-radius: 20px; }


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
  background-image: url(https://toppng.com/uploads/preview/code-letters-screen-blur-11570177813mgurt9n5uy.jpg);
}

.whiteTransparent{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}
